*
{
    margin: 0;
    padding :0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body
{
    background: #080808;
    color: #fff;
    background-image: url(wallpaper.jpg);
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
footer
{
    min-height: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53,107,231);
    display: flex;
    flex-direction: column;
}
.summary
{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    width: auto;

}
#hewin-image
{
    width: 25%;
    height: auto; 
}